h1 {
    text-align: center;
}
.container {
	margin: 1%;
	text-align: center;
}

#Drop{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb
}
img {
	margin: 1%;
}

#upload {
	margin: 1%;
}